@import 'https://fonts.googleapis.com/css?family=Andika&subset=cyrillic,cyrillic-ext';
/*=================================Anything===================*/

.portfolio, .price, .review {
    margin-bottom: 250px;
}


.showreal{
    width: 100%;
    height: 800px;
}

.portfolio{
    width: 100%;
    /*padding: 70px 0 50px 0;*/
    background: #efeeee; /* VT added */
}

.price{
    width: 100%;
    /*padding: 70px 0 0 0; */
    background: #d5d2da; /* VT added */    
}

.review{
    width: 100%;
    background: #efeeee; /* VT added */
}

.contact{
    width: 100%;
    background: #d5d3d8; /* VT added */
}

footer{
    width: 100%;
    background-color: #333;
}
/*BODY!!!*/
.str{
    margin: 0;
    padding: 0;
}
ul{
    text-align: center;
    padding-left: 0;
    padding-right: 20px;
    margin: 0;
}
.tab-link{
    width: 33.3%;
    display: block;
    float: left;
}
.str a{
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 50px;
    background: #b8b5c1;
    display: block;
    color: white;
}
li.active a{
    margin-top: 20px;
    margin-bottom: 20px;

    color: black;
    background: white;
    border-right: 1px solid #b8b5c1;
    box-shadow: -7px 0px 19px -5px rgba(0,0,0,0.75);
}
.nav-pills>li>a{
    border-radius: 0px;
}
img{
    width: 100%;
    padding: 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: .3s ease-in-out;

    -webkit-filter: blur(0px);
    filter: blur(0px);
    transition: .3s ease-in-out;
}

.pic:hover img{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-filter: blur(3px);
    filter: blur(3px);
    cursor: pointer;
}
.pic{
    display: block;
    float: left;
    width: 33.3%;
    cursor: pointer;
    position: relative;
}
.pic .text{
    font-size: 12px;
    color: white;
    font-family: 'Lobster';
    opacity: 0;
    position: absolute;
    top:50%;
    left: 50%;
    transition: all .3s linear;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.pic:hover .text{
    font-size: 20px;
    opacity: 1;
}
@media (max-width: 1024px){
    .tab-link a{
        font-size: 12px;
        text-transform: lowercase;
    }
    .pic{
        width: 50%;
    }
}
@media (max-width: 425px){
    .tab-link a span{
        font-size: 10px;
        vertical-align: middle;
        display: inline-block;
        line-height: 13px;
    }
    .tab-link{
        line-height: 50px;
    }
    .pic{
        width: 100%;
    }
    .modal-dialog {
        width: 350px;
        margin: 30px auto;
    }
}
@media (min-width: 768px){
    .modal-dialog {
        width: 1100px;
        margin: 30px auto;
    }
    iframe {
        width: 900px;
    }
}
iframe{
    display: block;
    margin: 0 auto;
}
a{
    outline:none!important;
}

body {
    margin: 0;
    padding: 0!important;
    background-attachment: fixed;
    background-size: cover;
}


/*=====================Portfolio================*/
.modal{
    padding-right: 0!important;
}
.modal-content{
    height: 100vh;
    padding-bottom: 66px;
}
.modal-dialog .modal-body{
    padding: 0;
    height: 100%;
}

.modal-dialog{
    width: 60%!important;
    /*margin: 0!important;*/
    max-height: 90vh!important;
}
.modal-dialog iframe{
    width: 100% !important;
    max-width: 100% !important;
    margin-top: 50px;
    margin-bottom: 55px;
    height: 92%;

}
.modal-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 222;
    background: #fff;
}
.modal-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 222;
    background: #fff;
}
.modal-body h1{
    margin-top: 220px;
    font-size: 125px;
}
