
/*========================review=========================*/


.review .container_review {
    background-color: #fefeec;
    
    max-width: 1140px;
    text-align: center;
    padding: 2% 2%;

}

.review .row {
    background: #edf0f1;
} 

.review .block_review_center {
    background-color: #fefeec;
    padding: 0 10% 10% 10%;

}


.review .block_arrow_left, .block_arrow_right, {
    background-color: #edf0f1;
}

.block_review_center {

}

.review .col-wrap {
    overflow: hidden; 
}


.review .glyphicon-chevron-left, .glyphicon-chevron-right {
    font-size: 64px;
    color: #938f9d;
    position: absolute;
    left: 50%;
    margin-left: -20px; 
    margin-top: 295px; /*this did not help((*/
   
}

@media (max-width: 991px) {
   .review .glyphicon-chevron-left, .glyphicon-chevron-right {
    font-size: 48px;    
   }
}

.review h2{
    padding-top: 80px;
    text-align: center;
    font-size: 24px;
    color: #928ba2;
}


.review .glyphicon-th-large{   
    -webkit-transform: rotate(45deg);   
    -ms-transform: rotate(45deg);   
    transform: rotate(45deg);
    font-size: 14px;
    color: #928ba2;
    padding: 32px 0;
}

.review img{
    margin: auto;
    max-width: 218px;
    max-height: 218px;
}


.review  p{
    text-align: center;
    font-size: 20px;
    color: #333333;
}
