
/*========================review=========================*/

.carousel {
    max-width: 1140px;
    margin: auto;
    background:   #fefeec;
    max-width: 1140px;
    background-color: #fefeec;
    padding: 0 5%;
    border: none;
}

.carousel-control.left, .carousel-control.right {
  background: #edf0f1;
  -webkit-filter: progid: none ;
  filter: progid: none ;
  -webkit-filter:none ;
  filter:none;
  background-image:none;
  outline: 0;
  opacity: 1;
 }

.review .item p{
    text-align: center;
    font-size: 20px;
    color: #333333;
    padding: 10px 0;
    text-shadow: none;
}

.review .item .name_review {
    text-align: center;
    font-size: 24px;
    color:  #928ba2;
} 

.review .item .glyphicon-th-large{   
    -webkit-transform: rotate(45deg);   
    -ms-transform: rotate(45deg);   
    transform: rotate(45deg);
    font-size: 14px;
    color: #928ba2;
    padding: 10px 0;
    display: block;
    position: static;
    text-shadow: none;
}

.review .item .background_image{
    margin: auto;
    width: 100%;
    height: 790px;
    visibility: hidden;
} 

.review .item .photo_review {
    max-width: 218px;
    max-height: 218px;
    border-radius: 50%;
}

  
.review .carousel-control {
    z-index: 0;
}

.review .carousel-indicators {
    z-index: 0;
}

