/*=====================SHOWREAL=====================*/

#video-background {
    position: fixed;
    top: -30px;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
.showreal article {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
}
.showreal article div{
    background-color: rgba(222, 223, 172, 0.6);
    position: absolute;
    top: 20%;
    left: 70%;
    padding: 20px 20px 30px 20px;
}
.big-background {
    z-index:0;
    text-align:center;
    height:100%;
    min-height:100%;
    position:relative;
    overflow:hidden
}
.big-background .big-background-container {
    width:830px;
    max-width:100%;
    display:inline-block;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}
.pattern {
    background-image:url(../img/pattern.png);
    background-repeat: repeat;
    background-attachment:scroll;
    width:100%;
    height:800px;
    position:absolute;
    left:0;
}
.showreal h1, .showreal p{
    display: inline-block;
    text-transform: uppercase;
}
.showreal h1 {
    font-size: 21px;
    letter-spacing: 3px;
    color: #fff;
    font-family: Oswald, sans-serif;
    text-align: center;
    transform: rotate(-90deg);
}

.gaslo{
    font-family: sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 10%;
    z-index: 1;
}