/*=====================SHOWREAL=====================*/

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.showreal .clear{
    clear: both;
}

.showreal article {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
}

.showreal article div{
    background-color: rgba(222, 223, 172, 0.6);
    position: absolute;
    top: 20%;
    left: 70%;
    padding: 20px 20px 30px 20px;
}

.showreal h1, .showreal p{
    display: inline-block;
    text-transform: uppercase;
}

.showreal h1 {
    position: absolute;
    top: 40%;
    width: 100%;
    font-size: 21px;
    letter-spacing: 3px;
    color: #fff;
    font-family: Oswald, sans-serif;
    text-align: center;
    transform: rotate(-90deg);
}
